.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: turquoise;
  border-radius: 4px;
  color: black;
  font-weight: 800;
  text-align: center;
}

.btn:hover {
  background: rgb(30, 202, 185);
  transform: translateY(2px);
}
